{% extends 'SunshineThemeBundle:Theme:Base/base.html.twig' %}

{% use 'SunshineThemeBundle:Slots:slots.html.twig' %}


{# BEGIN-EXTERNAL-STYLESHEETS
@SunshineThemeBundle/Resources/public/css/reset.css
@SunshineThemeBundle/Resources/public/css/960.css
@SunshineThemeBundle/Resources/public/css/text.css
@SunshineThemeBundle/Resources/public/css/screen.css
END-EXTERNAL-STYLESHEETS #}

{# BEGIN-EXTERNAL-JAVASCRIPTS
@RedKiteLabsThemeEngineBundle/Resources/public/js/vendor/jquery/*
@SunshineThemeBundle/Resources/public/js/mb.bgndGallery.js
END-EXTERNAL-JAVASCRIPTS #}

{% block contents %}
    <div id="column_1" class="grid_5 alpha">
        <div id="left_sidebar">
            {{ block('left_sidebar') }}
            {{ block('right_sidebar') }}
        </div>
    </div>
    <div id="column_2" class="grid_11 omega">
        <div id="right_sidebar">
            {{ block('screencast_sidebar') }}
        </div>
    </div>
{% endblock %}